app:
  database:
    url: ${DB_URL:jdbc:mysql://localhost:3306/togather_db}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:your_database_password}
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    password: ${REDIS_PASSWORD:your_redis_password}
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:your_rabbitmq_password}
  jwt:
    secret: ${JWT_SECRET_KEY:your_jwt_secret_key}
    access-exp-seconds: ${JWT_ACCESS_EXP:1800}
    refresh-exp-days: ${JWT_REFRESH_EXP:7}
  github:
    pat: ${GH_PAT:your_github_pat}
